<div class="action">
  <div class="action-heading">
    <h1>{{action?.name}}</h1>
  </div>
  <div class="try-action">
    <div class="try-text">
      Want to test out {{action?.name}}? Click below to give it a try!
    </div>
    <a routerLink="/topics/{{topicPath}}/actions/{{actionRoute}}/try-it" routerLinkActive="active">
      <button class="btn btn-success btn-try-it" type="button">Try it</button>
    </a>
  </div>
  <div class="action-readme panel panel-default">
    <div class="panel-heading">Readme</div>
    <div class="panel-body">
      <app-mp-markdown [data]="action?.readme.data"></app-mp-markdown>
    </div>
  </div>
</div>