.topic-heading {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

.topic-heading>h1 {
    font-size: 5em;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}