<div class="try-action">
  <div class="action-heading">
    <h1>{{action?.name}}</h1>
  </div>
  <div class="instructions">
    {{action?.instructions}}
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-9 textarea-header">
        Input
        <i id="btn-template" class="far fa-question-circle" matTooltip="Sample Input" matTooltipPosition="left" (click)="showTemplate()"></i>
      </div>
      <div class="col-md-3">
      </div>
    </div>
    <div class="row">
      <div class="col-md-9">
        <app-action-input (inputError)="onInputError($event)" [mode]="action?.requestDetails?.inputType">
        </app-action-input>
        <div class="input-error">{{inputError}}</div>
      </div>
      <div class="col-md-3 examples">
        Not sure what to enter? Try one of the examples below!
        <select class="form-control" [(ngModel)]="selectedExample" (change)="submitExample()">
          <option *ngFor="let example of action?.examples" [ngValue]="example">
              {{example.name}}
          </option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9 submit-action">
        <button class="btn btn-success" type="button" (click)="submitAction()">Go</button>
      </div>
      <div class="col-md-3">
      </div>
    </div>
    <div *ngIf="showResult">

      <div class="row">
        <div class="col-md-9 textarea-header">
          Result
        </div>
        <div class="col-md-3">
        </div>
      </div>
      <div class="row action-result">
        <div class="col-md-9">
          <app-action-result [result]="result?.output"></app-action-result>
        </div>
        <div class="col-md-3">
        </div>
      </div>
    </div>
  </div>
</div>