<div class="try-action">
  <div class="action-heading">
    <h1>{{action?.name}}</h1>
  </div>
  <div class="instructions">
    {{action?.instructions}}
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-9 textarea-header">
        Input
        <i id="btn-template" class="far fa-question-circle" (click)="showTemplate()"></i>
      </div>
      <div class="col-md-3">
      </div>
    </div>
    <div class="row">
      <div class="col-md-9">
        <app-action-input (inputError)="onInputError($event)" [mode]="action?.requestDetails?.inputType">
        </app-action-input>
        <div class="input-error">{{inputError}}</div>
      </div>
      <div class="col-md-3">
        <div class="examples">
          <div *ngFor="let example of action?.examples">
            {{example.name}}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9 submit-action">
        <button class="btn btn-success" type="button" (click)="submitAction()">Go</button>
      </div>
      <div class="col-md-3">
      </div>
    </div>
    <div class="row">
      <div class="col-md-9">
        <app-action-result [result]="result?.output"></app-action-result>
      </div>
      <div class="col-md-3">
      </div>
    </div>
  </div>
</div>